<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QCompress.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="QCompress.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <QCompress.Settings>
            <setting name="CustomResolutionEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MuteAudio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomFramerate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Framerate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TrimVideoEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrimStart" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="TrimEnd" serializeAs="String">
                <value>00:00:00</value>
            </setting>
        </QCompress.Settings>
        <QCompress.AppSettings>
            <setting name="FFmpegPath" serializeAs="String">
                <value />
            </setting>
        </QCompress.AppSettings>
    </userSettings>
</configuration>